## Deliverable 3. Create a Travel Itinerary Map.

In [31]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Cabo San Lucas,MX,70.52,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
1,6,Bredasdorp,ZA,67.28,light rain,-34.5322,20.0403,Bredasdorp Country Manor
2,7,Samarai,PG,78.62,overcast clouds,-10.6167,150.6667,Nuli Sapi
3,8,Rikitea,PF,76.80,light rain,-23.1203,-134.9692,People ThankYou
4,9,Cape Town,ZA,74.12,scattered clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town

In [12]:
vacation_df.sort_values(by=['Country']).head(20)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
62,167,Abu Dhabi,AE,71.62,clear sky,24.4667,54.3667,Ramee Garden Hotel Apartments
65,174,Sumbe,AO,76.33,overcast clouds,-11.2061,13.8437,Hotel Ritz Sumbe
201,495,Soyo,AO,78.21,broken clouds,-6.1349,12.3689,Hotel Mpampa
98,267,Namibe,AO,69.48,overcast clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
26,58,Moron,AR,72.97,clear sky,-34.6534,-58.6198,Hotel Mor처n
10,21,Mar Del Plata,AR,67.08,broken clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
175,435,Viedma,AR,74.48,few clouds,-40.8135,-62.9967,Hotel Cristal
20,48,Rawson,AR,67.62,clear sky,-43.3002,-65.1023,Hosteria Sampedro
117,309,Necochea,AR,69.04,broken clouds,-38.5473,-58.7368,dyd -mar Hotel
105,281,San Juan,AR,79.70,clear sky,-31.5375,-68.5364,Hotel Provincial
162,400,Warrnambool,AU,72.81,overcast clouds,-38.3833,142.4833,Lady Bay Resort
210,516,Mount Barker,AU,66.04,overcast clouds,-35.0667,138.8667,A Suite Spot in the Hills
222,559,Toowoomba,AU,69.26,light rain,-27.5500,151.9667,Toowoomba Central Plaza Apartment Hotel
208,514,Clarence Town,AU,83.14,broken clouds,-32.5833,151.7833,River Downs Cottage
243,613,Bagotville,AU,80.62,overcast clouds,-28.9833,153.4167,Broadwater Sunrise Caravan Park
206,507,Taree,AU,84.06,broken clouds,-31.9000,152.4667,All Seasons Country Lodge Taree
205,506,Kiama,AU,79.00,overcast clouds,-34.6833,150.8667,The Sebel Kiama Harbourside
54,153,Mount Gambier,AU,66.11,overcast clouds,-37.8333,140.7667,The Commodore
202,499,Batemans Bay,AU,77.20,light rain,-35.7167,150.1833,Batemans Bay Marina Resort
24,52,Hobart,AU,75.11,light intensity shower rain,-42.8794,147.3294,Mantra on Collins Hobart

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}째F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['Country']== 'AU') & (vacation_df['City']== 'Warrnambool')]
vacation_end = vacation_df.loc[(vacation_df['Country']== 'AU') & (vacation_df['City']== 'Warrnambool')]
vacation_stop1 = vacation_df.loc[(vacation_df['Country']== 'AU') & (vacation_df['City']== 'Mount Barker')]
vacation_stop2 = vacation_df.loc[(vacation_df['Country']== 'AU') & (vacation_df['City']== 'Toowoomba')] 
vacation_stop3 = vacation_df.loc[(vacation_df['Country']== 'AU') & (vacation_df['City']== 'Clarence Town')]

In [17]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
162,400,Warrnambool,AU,72.81,overcast clouds,-38.3833,142.4833,Lady Bay Resort

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([-38.3833, 142.4833], dtype=object)

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_to_end = gmaps.directions_layer(
    start, end, waypoints[stop1,stop2,stop3]), travel_mode = 'BICYCLING','DRIVING', 'WALKING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,400,Warrnambool,AU,72.81,overcast clouds,-38.3833,142.4833,Lady Bay Resort
1,516,Mount Barker,AU,66.04,overcast clouds,-35.0667,138.8667,A Suite Spot in the Hills
2,559,Toowoomba,AU,69.26,light rain,-27.5500,151.9667,Toowoomba Central Plaza Apartment Hotel
3,514,Clarence Town,AU,83.14,broken clouds,-32.5833,151.7833,River Downs Cottage
4,400,Warrnambool,AU,72.81,overcast clouds,-38.3833,142.4833,Lady Bay Resort

In [36]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}째F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))